Loops -----While loops

In [1]:
i=0
while(i<5):
    print(i)
    i=i+1

0
1
2
3
4

In [5]:
i=0
while(i<7):
    print(i)
    i=i+1

0
1
2
3
4
5
6

In [6]:
k=0

while(k<6):
    print(k)
    k=k+1

0
1
2
3
4
5

In [7]:
k=0

while(k<6):
    print("k=",k)
    k=k+1

k= 0
k= 1
k= 2
k= 3
k= 4
k= 5

In [9]:
j=0

while(j<10):
    print("j=",j)
    j=j+2

j= 0
j= 2
j= 4
j= 6
j= 8

In [10]:
k=0

while(k<50):
    print("k=",k)
    k=k+5

k= 0
k= 5
k= 10
k= 15
k= 20
k= 25
k= 30
k= 35
k= 40
k= 45

In [11]:
k=0

while(k<40):
    print("k=",k)
    k=k+4

k= 0
k= 4
k= 8
k= 12
k= 16
k= 20
k= 24
k= 28
k= 32
k= 36

In [12]:
k=2

while(k<40):
    print("k=",k)
    k=k+6

k= 2
k= 8
k= 14
k= 20
k= 26
k= 32
k= 38

In [15]:
j=0

while(j<10):
    print(j,end=" ")
    j=j+1

0 1 2 3 4 5 6 7 8 9

In [16]:
h=0

while(h<5):
    print(h)
    print("end")
    h=h+1

0
end
1
end
2
end
3
end
4
end

In [18]:
h=0

while(h<3):
    print(h)
    print("end")
    h=h+1

print("end of the loop")

0
end
1
end
2
end
end of the loop

In [22]:
i=1
while(i<11):
    print('2','*','i','=',2*i)
    i=i+1

2 * i = 2
2 * i = 4
2 * i = 6
2 * i = 8
2 * i = 10
2 * i = 12
2 * i = 14
2 * i = 16
2 * i = 18
2 * i = 20

In [24]:
i=1
while(i<11):
    print('3','*','i','=',3*i)
    i=i+1

3 * i = 3
3 * i = 6
3 * i = 9
3 * i = 12
3 * i = 15
3 * i = 18
3 * i = 21
3 * i = 24
3 * i = 27
3 * i = 30

In [31]:
i=1
j=int(input("Enter value of table to be gnerated"))
while(i<11):
    print(j,'*',i,'=',j*i)
    i=i+1

Enter value of table to be gnerated 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [40]:
fruit=[]
i=0
while(i<3):
    val=input("Enter any fruit name")
    fruit.append(val)
    print(fruit)
    i=i+1
print('FINAL LIST=',fruit)

Enter any fruit name aaa

['aaa']

Enter any fruit name bbb

['aaa', 'bbb']

Enter any fruit name ccc

['aaa', 'bbb', 'ccc']
FINAL LIST= ['aaa', 'bbb', 'ccc']

For Loop

In [41]:
for index in[11,12,13]:
    print(index)

11
12
13

In [42]:
for index in[10,20,30,40,50]:
    print(index)

10
20
30
40
50

In [43]:
for index in[23.4,56.7,12.8,99.4,23.5]:
    print(index)

23.4
56.7
12.8
99.4
23.5

In [45]:
for index in['A','B','C','D','E']:
    print(index,end="  ")

A  B  C  D  E

In [48]:
for i in['Tesla','Volvo','Porsche','Maruti','Kia']:
    print(i,end=" ")

Tesla Volvo Porsche Maruti Kia

In [50]:
for j in[2,3,7.8,'Scorpio','45',True]:
    print(j,end=" ")

2 3 7.8 Scorpio 45 True

In [51]:
for k in(1,2,3,4,5):
    print(k)

1
2
3
4
5

In [3]:
dict1={'Eno':101,'Name':'Jack','Sal':86688}

In [4]:
dict1

{'Eno': 101, 'Name': 'Jack', 'Sal': 86688}

In [5]:
for p in dict1:
    print(p)

Eno
Name
Sal

In [6]:
for p in dict1:
    print(dict1[p])

101
Jack
86688

In [7]:
for p in dict1:
    print(p,'--->',dict1[p])

Eno ---> 101
Name ---> Jack
Sal ---> 86688

Range Function

In [8]:
#range function

range(0,0)

range(0, 0)

In [9]:
range(0,1)

range(0, 1)

In [10]:
range(0,3)

range(0, 3)

In [12]:
list(range(0,3))

[0, 1, 2]

In [13]:
list(range(0,4))

[0, 1, 2, 3]

In [14]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [15]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

In [17]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [18]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [19]:
#Range(start=0,stop=20,jump=2)

range(0,20,2)

range(0, 20, 2)

In [20]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
list(range(0,40,5))

[0, 5, 10, 15, 20, 25, 30, 35]

In [22]:
list(range(5,60,10))

[5, 15, 25, 35, 45, 55]

In [24]:
#for loop
for i in[1,2,3,4,5,6]:
    print(i)

1
2
3
4
5
6

In [25]:
#range
for i in range(6):
    print(i)

0
1
2
3
4
5

In [26]:
for k in range(10):
    print(k)

0
1
2
3
4
5
6
7
8
9

In [27]:
for k in range(10):
    print(k,end="  ")

0  1  2  3  4  5  6  7  8  9

In [31]:
for k in range(10):
    print(k,end="  ,  ")

0  ,  1  ,  2  ,  3  ,  4  ,  5  ,  6  ,  7  ,  8  ,  9  ,

In [28]:
for p in range(1,8):
    print(p)

1
2
3
4
5
6
7

In [29]:
for h in range(1,15,2):
    print(h)

1
3
5
7
9
11
13

In [30]:
for p in range(1,8):
    print(p)

1
2
3
4
5
6
7

In [32]:
for j in range(2,20,2):
    print(j)

2
4
6
8
10
12
14
16
18

In [34]:
p=2

for q in range(1,11):
    print(p*q)

2
4
6
8
10
12
14
16
18
20

In [35]:
p=2
for q in range(1,11):
    print(p,'*',q,'=',p*q)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [36]:
p=int(input("enter the value for table to generated"))
for q in range(1,11):
    print(p,'*',q,'=',p*q)

enter the value for table to generated 3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [3]:
p=int(input("enter the value for table to generated"))
for q in range(1,11):
    print(p,'*',q,'=',p*q)

enter the value for table to generated 19

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [4]:
veggies=[]
for p in range(4):
    veg=input("enter vegetable name")
    veggies.append(veg)
    print(veggies)

enter vegetable name tomato

['tomato']

enter vegetable name onion

['tomato', 'onion']

enter vegetable name beetroot

['tomato', 'onion', 'beetroot']

enter vegetable name chilli

['tomato', 'onion', 'beetroot', 'chilli']

In [6]:
veggies=[]
for p in range(4):
    veg=input("enter vegetable name")
    veggies.append(veg)
    print(veggies)
print('FINAL LIST',veggies)

enter vegetable name potato

['potato']

enter vegetable name palak

['potato', 'palak']

enter vegetable name methi

['potato', 'palak', 'methi']

enter vegetable name shepu

['potato', 'palak', 'methi', 'shepu']
FINAL LIST ['potato', 'palak', 'methi', 'shepu']

IF-ELSE Construct

In [9]:
marks=80
if marks>50:
    print('Good')

Good

In [14]:
marks=80

if marks>50:
    print('Good')
else:
    print('Bad')

Good

In [15]:
marks=20
if marks>50:
    print('Good')
else:
    print('Bad')

Bad

In [16]:
num=40

if num%2==0:
    print('even')
else:
    print('Odd')

even

In [17]:
num=23

if num%2==0:
    print('even')
else:
    print('odd')

odd

In [21]:
num=23

if num%2==0:
    print('odd')
else:
    print('even')

even

In [22]:
num=26

if num%2==0:
    print('odd')
else:
    print('even')

odd

In [24]:
marks=90

if marks>50:
    print('good')
else:
    pass

good

In [40]:
#if else elif
marks=int(input("Enter any marks"))

if marks>90 and marks<100:
    print('Excellent')
elif(marks>80 and marks<90):
    print('Very Good')
elif(marks>70 and marks<80):
    print('Good')
elif(marks>60 and marks<70):
    print('average')
else:
    print('poor')

Enter any marks 99

Excellent